#s-151add11-2032-499e-98bd-ad717b918abe #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Ellipse_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Button-blue_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label-blue_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151add11-2032-499e-98bd-ad717b918abe #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-151add11-2032-499e-98bd-ad717b918abe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}