#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Button-blue_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Label-blue_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2b75d125-dae9-4035-b1a0-ae52151f7d77 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}