#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Button-blue_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}