#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label-blue {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 355px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Button-blue_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}