#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 139px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 139px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Mail {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-plus-green-line {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 139px;
  height: 39px;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #70B892;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}