#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-plus-green-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Label-blue_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9a44e91a-fa23-466d-a09b-7ff04c694555 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}