#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Label_59 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Label_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4d47934-ca31-4610-873c-e1e55acde97f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}